@model IEnumerable<FilmDB.Models.FilmModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista filmów</h1>

<p>
    <a asp-action="Add">Dodaj nowy film</a>
</p>
<form asp-action="Index">
    <select name="GenreName">
        @foreach (var item in ViewBag.Genre)
        {
            <option value=@item.Name>@item.Name</option>
        }
        <option value="wszystkie">Wszystkie</option>
    </select>
    <button>Filtruj</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>Gatunek</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
             <td>
                @(item.Genre != null ? item.Genre.Name : "")
            </td>
            <td>
                <a 
                    asp-action="Edit" 
                    asp-route-id="@item.ID"
                    class="btn btn-primary btn-sm"
                >
                    Edit
                </a> |
                <a 
                    asp-action="Details" 
                    asp-route-id="@item.ID"
                    class="btn btn-info btn-sm"
                >
                    Details
                </a> |
                <a 
                    asp-action="Remove" 
                    asp-route-id="@item.ID"
                    class="btn btn-warning btn-sm"
                >
                    Usuń
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
